@CHARSET "UTF-8";
body {
	font-family:"Droid Sans","Gill Sans",sans-serif;
}
input[type="button"] {
	border-radius:3px;
	font-weight:bold;
}
ul {
	list-style:none;
}
table {
	padding:1em 0em;
	text-align:left;
}
#addPool {
	border:1px dashed #bcbcbc;
	border-radius:3px;
	color:#bcbcbc;
	font-size:0.8em;
}