<!DOCTYPE html>
<html class="no-js" data-ng-app="cgminerConfigUI">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="A CGMiner configuration UI">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
		<script src="js/vendor/modernizr-2.7.1.min.js"></script>
		<title>CGMiner configuration UI</title>
	</head>
	<body data-ng-controller="cgminerConfigCtrl">
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<script src="js/text-file-drop.js"></script>
		<script src="js/vendor/angular-1.2.16/angular.min.js"></script>
		<script src="js/main.js"></script>
		<h1>CGMiner configuration</h1>
		<p id="notPrepopulated" data-ng-show="!prePopulated">Drop a config file onto the page to pre-populate the fields...</p>
		<br>
		<label>API</label>
		<input data-ng-checked="config['api-listen'] || config['api-mcast']" data-ng-model="config['api-listen']" type="checkbox">
		<label>listen</label>
		<input data-ng-model="config['api-mcast']" type="checkbox">
		<label>multicast</label>
		<ul data-ng-show="!config['api-listen'] && !config['api-mcast']">
		</ul>
		<ul data-ng-show="config['api-listen']">
			<li>
				<input type="text" data-ng-model="config['api-allow']">
				<label>allow</label>
			</li>
			<li>
				<input type="text" data-ng-model="config['api-description']">
				<label>description (default: <i>cgminer version</i>)</label>
			</li>
			<li>
				<input type="text" data-ng-model="config['api-groups']">
				<label>groups</label>
			</li>
			<li>
				<input type="text" data-ng-disabled="config['api-allow']" data-ng-model="config['api-network']">
				<label>network (default: 127.0.0.1)</label>
			</li>
			<li>
				<input type="text" data-ng-model="config['api-port']">
				<label>port (default: 4028)</label>
			</li>
		</ul>
		<ul data-ng-show="config['api-mcast']">
			<li>
				<input type="text" data-ng-model="config['api-mcast-addr']" >
				<label>mcast-addr (default: 224.0.0.75)</label>
			</li>
			<li>
				<input type="text" data-ng-model="config['api-mcast-code']" >
				<label>mcast-code (default: FTW)</label>
			</li>
			<li>
				<input type="text" data-ng-model="config['api-mcast-port']">
				<label>mcast-port (default: 4028)</label>
			</li>
		</ul>
		<label>GPU</label>
		<input data-ng-model="config['auto-gpu']" type="checkbox">
		<label>auto</label>
		<ul data-ng-show="config['auto-gpu']">
			<li>
				<label>{{ gpus }}</label>
				<input data-ng-change="gpusChanged()" data-ng-model="gpus" type="range" min="1" max="4">
			</li>
			<li>
				<input type="text" data-ng-model="config['gpu-engine']">
				<label>engine</label>
			</li>
			<li>
				<input type="text" data-ng-model="config['gpu-fan']">
				<label>fan</label>
			</li>
			<li>
				<input type="text" data-ng-model="config['intensity']">
				<label>intensity (d or 0 -> 19, default: d)</label>
			</li>
			<li>
				<input data-ng-model="config['gpu-memclock']" type="text">
				<label>memclock</label>
			</li>
			<li>
				<input data-ng-model="config['gpu-memdiff']" type="text">
				<label>memdiff</label>
			</li>
			<li>
				<input data-ng-model="config['gpu-powertune']" type="text">
				<label>powertune</label>
			</li>
			<li>
				<input type="text" data-ng-model="config['gpu-threads']">
				<label>threads (default: 2)</label>
			</li>
			<li>
				<input data-ng-model="config['gpu-vddc']" type="text">
				<label>vddc</label>
			</li>
		</ul>
		<input data-ng-checked="config['scrypt']" data-ng-model="config['scrypt']" type="checkbox">
			<label>scrypt</label>
		<ul data-ng-show="config['scrypt']">
			<li>
				<input data-ng-model="config['lookup-gap']" type="text">
				<label>lookup-gap</label>
			</li>
			<li>
				<input data-ng-model="config['thread-concurrency']" type="text">
				<label>thread-concurrency</label>
			</li>
		</ul>
		<ul data-ng-show="!config['gpu'] && !config['scrypt']">
		</ul>
		<label>Temperature</label>
		<input data-ng-model="config['auto-fan']" type="checkbox">
		<label>auto</label>
		<ul data-ng-show="config['auto-fan']">
			<li>
			</li>
			<li>
				<input data-ng-model="config['temp-cutoff']" type="text">
				<label>cutoff (default: 95)</label>
			</li>
			<li>
				<input data-ng-model="config['temp-overheat']" type="text">
				<label>overheat (default: 85)</label>
			</li>
			<li>
				<input data-ng-model="config['temp-target']" type="text">
				<label>target (default: 75)</label>
			</li>
		</ul>
		<table>
			<thead>
				<tr>
					<th colspan="3">Pools
						<select name="multipool" data-ng-change="multipoolChanged()" data-ng-model="multipool" data-ng-options="m for m in multipools" data-ng-show="config['pools'].length > 1">
						</select>
					</th>
				</tr>
				<tr>
					<th>URL</th>
					<th>user</th>
					<th>pass</th>
				</tr>
			</thead>
			<tbody data-ng-repeat="pool in config['pools']">
				<tr>
					<td><input data-ng-model="pool['url']" required size="40" type="text"></td>
					<td><input data-ng-model="pool['user']" size="20" type="text"></td>
					<td><input data-ng-model="pool['pass']" size="10" type="text"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="3">
						<a href="" data-ng-click="addPool()" data-ng-show="!config['pools'][config['pools'].length -1].url == '' || config['pools'].length == 0">Add</a>
					</th>
				</tr>
			</tfoot>
		</table>
		<input data-ng-click="save()" id="save" value="Save" type="button">
		<label>as</label>
		<input data-ng-model="download" type="text">
	</body>
</html>