<!DOCTYPE html>
<html class="no-js" data-ng-app="cgminerConfigUI">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="A CGMiner configuration UI">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
		<script src="js/vendor/modernizr-2.7.1.min.js"></script>
		<title>CGMiner configuration UI</title>
	</head>
	<body data-ng-controller="cgminerConfigCtrl">
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
		<script>window.angular || document.write('<script src="js/vendor/angular-1.2.13.min.js"><\/script>')</script>
		<script src="js/main.js"></script>
		<h1>CGMiner configuration</h1>
		<p id="notPrepopulated" data-ng-show="!prePopulated">Drop a config file onto the page to pre-populate the fields...</p>
		<ul>
			<li>
				<input type="text" data-ng-model="cgminerConfig['intensity']">
				<label>intensity</label>
			</li>
			<li>
				<input type="text" data-ng-model="cgminerConfig['gpu-threads']">
				<label>gpu-threads</label>
			</li>
			<li>
				<input data-ng-model="cgminerConfig['log']" type="text">
				<label>log</label>
			</li>
			<li>
				<input data-ng-model="cgminerConfig['lookup-gap']" type="text">
				<label>lookup-gap</label>
			</li>
			<li>
				<input data-ng-model="cgminerConfig['thread-concurrency']" type="text">
				<label>thread-concurrency</label>
			</li>
		</ul>
		<label>GPU</label>
		<input data-ng-model="cgminerConfig['auto-gpu']" type="checkbox">
		<label>auto</label>
		<input data-ng-change="gpusChanged()" data-ng-model="gpus" type="range" min="1" max="4">
		<ul>
			<li>
				<input type="text" data-ng-model="cgminerConfig['gpu-engine']">
				<label>engine</label>
			</li>
			<li>
				<input data-ng-model="cgminerConfig['gpu-memclock']" type="text">
				<label>memclock</label>
			</li>
			<li>
				<input data-ng-model="cgminerConfig['gpu-memdiff']" type="text">
				<label>memdiff</label>
			</li>
			<li>
				<input data-ng-model="cgminerConfig['gpu-powertune']" type="text">
				<label>powertune</label>
			</li>
			<li>
				<input data-ng-model="cgminerConfig['gpu-vddc']" type="text">
				<label>vddc</label>
			</li>
		</ul>
		<label>Temperature</label>
		<input data-ng-model="cgminerConfig['auto-fan']" type="checkbox">
		<label>auto</label>
		<ul>
			<li>
			</li>
			<li>
				<input data-ng-model="cgminerConfig['temp-cutoff']" type="text">
				<label>cutoff</label>
			</li>
			<li>
				<input data-ng-model="cgminerConfig['temp-overheat']" type="text">
				<label>overheat</label>
			</li>
			<li>
				<input data-ng-model="cgminerConfig['temp-target']" type="text">
				<label>target</label>
			</li>
		</ul>
		<table>
			<thead>
				<tr><th colspan="3">Pools</th></tr>
				<tr>
					<th>URL</th>
					<th>user</th>
					<th>pass</th>
				</tr>
			</thead>
			<tbody data-ng-repeat="pool in cgminerConfig['pools']">
				<tr>
					<td><input data-ng-model="pool['url']" required size="40" type="text"></td>
					<td><input data-ng-model="pool['user']" size="20" type="text"></td>
					<td><input data-ng-model="pool['pass']" size="10" type="text"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="3">
						<a href="" data-ng-click="addPool()" data-ng-show="!cgminerConfig['pools'][cgminerConfig['pools'].length -1].url == '' || cgminerConfig['pools'].length == 0">Add</a>
					</th>
				</tr>
			</tfoot>
		</table>
		<input data-ng-click="save()" id="save" value="Save" type="button">
		<label>as</label>
		<input data-ng-model="download" type="text">
	</body>
</html>